// 标题描述
.home-blog .hero .description {
    color: white;
}

.home-blog .hero h1 {
    color: white;
}

// // 侧边栏
// .page .side-bar {
//     right: 6rem;    
// }

// // 正文
// .content__default:not(.custom) {
//     max-width: 75%;
// }

// // 正文标题
// .page .page-title {
//     max-width: 75%;
// }

// // valine评论
// .page-nav, .page .comments-wrapper, .page .page-edit {
//     max-width: 75%;
// }

// // 主页宽度
// .home-blog .home-blog-wrapper {
//     max-width: 80%;
// }