// 标题描述
.home-blog .hero .description {
    color: white;
}

.home-blog .hero h1 {
    color: white;
}

// 隐藏右上角github
.nav-links .repo-link {
    display: none;
}

// 打赏
.global-ui{
    margin-top: -49%;
    margin-left: -19%;
}