// // 颜色
// $accentColor = #424242
// $textColor = #232321

// // 布局
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 80%
// $homePageWidth = 80%

// // 响应式变化点
// // $MQNarrow = 959px
// // $MQMobile = 719px
// // $MQMobileNarrow = 419px

// .theme-container.util {
//   .theme-default-content {
//     max-width: 90%
//   }
// }

// 正文抬头页面样式
.page .page-title{
    max-width: 80%;
    margin: 0 auto;
    padding: 0rem 2.5rem;
}

// // tag样式
// .tags-wrapper[data-v-c168373c] {
//     max-width: 70%;
//     margin: 0 auto;
//     padding: 4.6rem 2.5rem 0;
// }

# markdownToExcel
.content__default:not(.custom) {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}


// 评论区
.page .page-edit, .page .comments-wrapper, .page-nav {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}
